table {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
	margin: 25px 0 0;
}

table td, table th {
border: 1px solid #ddd;
padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
padding-top: 12px;
padding-bottom: 12px;
text-align: center;
background-color: #04AA6D;
color: white;
}


table .userTableHeader-active {
	color: #fff;
	background-color: #000;
}

.userTablePagination {
	position: fixed;
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 20px 0;
	bottom: 0;
	left: 0;
	background: #fff;
}

.userTablePage {
	width: 40px;
	height: 40px;
	margin: 0 5px;
	border: 0;
	border-radius: 5px;
}

.userTablePage-active {
	color: #fff;
	background: #000;
}

.inputField {
	width: 150px;
	height: 30px;
	margin: 10px 10px;
}

.button {
	width: 100px;
	height: 25px;
}

.userFormRow {
	display: flex;
	margin: 10px 0;
}

.userFormLabel {
	width: 100px;
}

.userAdd {
	margin: 0 0 25px 10px;
}

.userFormToggle {
	margin: 0 0 0 10px;
}

.userFilter {
	margin: 25px 0;
}

.userInfo {
	margin: 20px 10px;
}

.userInfoTable {
	display: flex;
	flex-wrap: wrap;
	width: 500px;
	margin: 5px 0 0;
}

.userInfoTable b {
	margin: 0 0 0 10px;
}

.userInfoText {
	width: 100%;
}